body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#cover {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#cover img
{
    max-width: 100%;
}

#cover h1 {
    font-size: 24px;
    color: #333;
}
