<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IT Lab</title>
</head>
<body>
    <h1>
        Welcome to IT Lab
    </h1>
    <br />
    <br />
    <h2>
        Here's the List of App's
    </h2>
    <a href="sample/">Sample</a>
    <br /><br />
    <a href="Q1/">Q1</a>
    <br /><br />
    <a href="Q2/">Q2</a>
    <br /><br />
    <a href="Q3/">Q3</a>
    <br /><br />
    <a href="Q4/">Q4</a>
    <br /><br />
    <a href="Q5/">Q5</a>
</body>
</html>